# Pandas Exercises

Feel free to pick and choose between the exercices below. They start very simple and get more complex the deeper into the notebook you go. Answers are given in the "answers" branch of this repository, but should only be considered correct as far as they answer the question - there might be better or equivalent solutions which are just as valid.

In [1]:
import numpy as np
import pandas as pd

## Series

Q1. Create a `Series` from the following list: [1, 2, 12, 13, 19] with the default integer index

In [3]:
# Answer

Q2. Create a Series of the even integers from 200 to 400. 

_Hint: Use range to generate the iterable you need_

In [4]:
# Answer

Q3. Create two series from the following dictionary, one indexed by the keys and another indexed by the values

In [5]:
numbers = {'one': 1, 'two' : 2, 'three': 3, 'four': 4}

In [6]:
# Answer

Q4. Change the following series from integer values to float

In [7]:
s3 = pd.Series([10, 20, 30, 40])

In [9]:
# Answer

Q5. Use integer based indexing to slice the following series keeping every 3rd item

_Hint: look at the help for `pd.Series.iloc`_

In [10]:
s4 = pd.Series(np.arange(1, 100))

In [12]:
# Answer

Q6. Sort the following series descending by values. Do the operation `inplace`.

In [13]:
np.random.seed(47)

s5 = pd.Series(np.random.randn(100))

In [14]:
# Answer

Q7. Create a Series of 100 normally distributed floating point number (see the previous question) and calculate the mean and standard deviation of the values

_Hint: Look for Series methods to do the `mean` and `std` calcuation_

In [15]:
# Answer

Q8. Use Boolean/Fancy indexing to extract the values greater than zero from the following Series and create a new series called s7a. What is the length of the resulting series?

In [16]:
np.random.seed(47)
s7 = pd.Series(np.random.randn(100))

In [17]:
# Answer

Q9. Calculate the frequency counts for the following series (i.e. how many elements of value 1, how many of value 2, .... Your answer should be another series)

In [18]:
np.random.seed(57)
s8 = pd.Series(np.random.choice(np.arange(1, 10, dtype=np.int), size=100))

In [19]:
# Answer

Q10. Capitalize the names in the values of the following series. 

_Hint_: Think about `apply` on a string method to the series_

In [20]:
s9 = pd.Series(['alpha', 'beta', 'gamma', 'delta'])

In [21]:
# Answer

Q11. Calculate the euclidean distance between the elements of the following series. For series indexed from $0$ to $N-1$, we're looking for
$$
\sqrt{\sum_{i=0}^{N-1} \left(b_i - a_i\right)^2}
$$

In [22]:
s10a = pd.Series(np.arange(1, 10))
s10b = pd.Series(np.arange(60, 50, -1))

In [23]:
# Answer

## DataFrames

Q12. Create a `DataFrame` from the following two lists. Use the column names 'Float' and 'Int', any index will do

In [24]:
si = np.arange(1, 6, dtype=np.int)
sf = np.arange(1, 6, dtype=np.float)

In [25]:
# Answer

Q13. As above, but use the names "one", "two", ... as the index values

_Hint: Look at the `set_index` method and the `pd.Index` function_

In [27]:
# Answer

Q14. Extract the 1st, 3rd and 5th rows of the following `DataFrame` using location based indexing (slice)

In [28]:
d3 = pd.DataFrame({
    'animal' : ['tiger', 'hummingbird', 'spider', 'human', 'salmon'],
    'legs'   : [4, 2, 8, 2, 0],
    'furry'  : [True, False, False, True, False],
})

In [29]:
# Answer

Q15. Add a Boolean column called 'dangerouse' to d3 indicating whether you think the animal is dangerous or not

In [30]:
# Answer

Q16. Find all the animals that are both furry and dangerous

_Hint: You can use Boolean/Fancy indexing and combine conditions with `&`_

In [31]:
# Answer

Q17. Sort the dataframe alphabetically by animal name.

In [32]:
# Answer

Q18. Delete/Drop the dangerous column

_Hint: Use the axis keyword if you need to_

In [33]:
# Answer

Q19. The following `DataFrame` is being read from a remote CSV. The dataset consists of 30 people who have been assigned to one of two diets (low-fat vs. no-fat) and assigned to one of 3 different exercise types (rest, walking or running). Thier pulse rate was measured at 3 different time points during their assigned exercise (1 min, 15 min and 30 min).

Use `head`, `describe` to explore the contents, the dataframe will be used for the next few questions

In [34]:
exerciseDF = pd.read_csv(
  'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/exercise.csv',
    index_col=[0]
)

In [35]:
# Answer

Q20. Calculate the `max`, `min` and `mean` of the pulse rate for all participants

_Hint_: Remember you `exerciseDF['diet']` will return a series which has methods to do what you need._

In [36]:
# Answer

Q21. Find the row number with the maximum pulse rate, then use that value to read out the rest of the row

In [38]:
# Answer

Q22. Calculate the same quantities (`min`, `max` and `mean`) for people in the low-fat group who are running

In [39]:
# Answer

Q23. Subtract the mean value of the pulse rate from all of the pulse records and add the result as a new column called `pulse_deviation`.

In [40]:
# Answer

Q24. Use the groupby method to group by diet, then by type and calculate the mean

_Hint: Take a look at the help for groupby. It will accept a list of levels_

In [42]:
# Answer

Q25. Replace the `pulse_deviation` column from with values showing the deviation of each row from the relevant mean from the last question.

_Hint: Building on the last question try using the `transform` method. This method can call a function on the calling DataFrame object producing a new `DataFrame` with the same length axes. Try doing this directly on the `DataFrame`, then on the `DataFrame` grouped by `diet` then finally on the groupby from above._

In [43]:
# Answer

## Dates and Times

In [44]:
from datetime import datetime

Pandas has great datetime functionality due to its origins in finance. It can make working with time series much easier particularly around indexing and sampling.

Q26. Use the `now()` function of `datetime` to find the current time stamp

In [46]:
# Answer

Q27. Use `pd.datetime()` function to convert some date strings to TimeStamps. Do the same thing for the current timetamp from above.

In [47]:
# Answer

Q28. Subtract the Timestamps above from `pd.datetime(datetime.now())`

In [48]:
# Answer




There is a dataset on Ontario's electricity usage available at this location...

  * http://reports.ieso.ca/public/Demand/PUB_Demand_2019.csv
  
We'll use `pd.read_csv` to read in the data and index it by timestamp. Here are the first few lines of the file
```
\\Hourly Demand Report,,,
\\Created at 2020-05-30 07:30:10,,,
\\For 2020,,,
Date,Hour,Market Demand,Ontario Demand
2020-01-01,1,16565,13219
2020-01-01,2,16193,12895
2020-01-01,3,16072,12554
2020-01-01,4,15930,12360
2020-01-01,5,15963,12353
```

Q29. Use `pd.read_csv` to read in the file from the location above. Compare the arguments to the help for `read_csv` if you are unsure what they do.

In [49]:
# Answer

Q30. Use the date slice notation to select all the records from january

In [50]:
# Answer

Q31. Using the result from the previous question, calculate the mean demand in January

In [52]:
# Answer

Q32. Find the name of the day (e.g. Monday, Tuesday, ...) of where the maximum Ontario demand occurred

_Hint: Have a look at the help for `Series.dt.day_name`_

In [53]:
# Answer

Q33. Calculate the monthly mean market demand

_Hint: Resample the `DataFrame` monthly_

In [54]:
# Answer

Q34. Transform the index to be `TimeDeltaIndex`s relative to the first record

In [55]:
# Answer

The equivalent data for the current year is available at

  * http://reports.ieso.ca/public/Demand/PUB_Demand.csv
  
Use `read_csv` to this into a `DataFrame` called `elec2020DF` (see above).

In [56]:
# Answer

Q35. What is the timestamp of the last record? Display the result in the following format "Monday, Jan 1, 2020 00:00:00" using strftime.

_Hint: You'll need the strftime function. [This site](https://strftime.org/) has a useful summary of format placeholders_

In [57]:
# Answer

Q36. Replace the index of `elec2020DF` with a `TimeDeltaIndex` showing the time difference from the first record

In [58]:
# Answer

Q37. Whatever the result from the last question select the equivalent rows from the 2019 `DataFrame`. e.g. If the last record of `elec2020DF.index` is "149 days 23:00:00" (3600 rows). Select the same range from the `elec2019DF` `DataFrame`. Replace elec2019DF with the result

In [59]:
# Answer

Q38. Subtract the elec2019DF from the current year `DataFrame`.

In [60]:
# Answer

Q39. Resample the dataframes into '24h' chunks (summing) and plot the 2019 and 2020 data for the Ontario Demand

In [61]:
# Answer

Q40. As above, but plot the deviations

In [62]:
# Answer